.chart {
  background: #f4f4f4;
  font: 10px sans-serif;
}

.chart-svg {
  position: absolute;
}

.chart-time-axis .domain {
  display: none;
}

.chart-time-axis .tick line {
  stroke: #d8d8d8;
}

.chart-time-axis .tick text {
  font-size: 11px;
  fill: #b1b1b1;
}

.chart {
  overflow: hidden;
  position: relative;
}

.chart-desired {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
  opacity: 0.25;
  /*stroke-dasharray: 1, 6;*/
}

.chart-measured {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.chart-dot {
  fill: white;
  stroke: #f4f4f4;
  stroke-width: 1.5px;
}

.chart-xhair {
  background: #ff8300;
  /* This should not interact with mouse */
  pointer-events: none;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
}

.chart-xhair--tick {
  border: 5px solid #ff8300;
  border-color: transparent transparent #ff8300 transparent;
  margin-left: -5px;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 10;
}

.chart-tooltip {
  background: #fff;
  bottom: 70px;
  border-top: 3px solid #ff8300;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  /* width and margin are set by JS dynamically */
  position: absolute;
  /* Needed to get around hw accel bug in Chrome */
  z-index: 9;
}

.chart-readouts {
  left: 160px;
  top: 20px;
  position: absolute;
}

.chart-readout {
  font-size: 12px;
  line-height: 18px;
}

.chart-readout--title,
.chart-readout--value,
.chart-readout--legend,
.chart-readout--target,
.chart-readout--desired,
.chart-readout--measured {
  display: inline-block;
  margin-right: .5em;
}

.chart-readout--target {
  margin-left: .25em;
}

.chart-readout--legend {
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.chart-readout--desired,
.chart-readout--measured {
  font-weight: bold;
}

.chart-timestamp {
  left: 24px;
  top: 22px;
  position: absolute;
  width: 136px;
}

.chart-timestamp--time {
  font-size: 17px;
}
.chart-timestamp--day {
  color: #b1b1b1;
  font-size: 11px;
}

.chart-scrubber {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Needed to get around hw accel bug in Chrome */
  z-index: 10;
}

.chart-progress {
  background: url(stripes-dark-blue.png) repeat left center #ddd;
  background-size: auto 40px;
  padding-right: 5px;
  width: 0;
  height: 40px;
}

.chart-handle {
  bottom: 0;
  cursor: -webkit-grab;
  cursor: grab;
  position: absolute;
  height: 60px;
  width: 12px;
}
.chart-handle--dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.chart-handle--cap {
  background: #ff8300;
  border-radius: 100%;
  height: 12px;
  width: 12px;
}

.chart-handle--line {
  background: #ff8300;
  margin-left: 5px;
  height: 48px;
  width: 2px;
}
