/*
@note A few rules that will keep this stylesheet from getting out of hand:

- All styles should happen through classes
- ...except a very small number of "reset" common styles that deal with
  global fonts, etc.
- All classes should start with a prefix followed by 2 dashes that denotes the
  module they belong to (.panel--*). A module is a logical unit, like a lightbox.

Don't:

- Leak styles
- Style tags directly (except to reset styles)

Grid:

Everything happens on a 4px grid. If possible, favor increments of:

    8px
    24px
    48px
*/

html {
  background-color: #f4f4f4;
  color: #333;
  font: 16px/1.5 Helvetica, sans-serif;
}

/* Reset standard dialog styles */
dialog {
  border: 0;
  margin: 0;
  padding: 0;
}

p {
  margin: 24px 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #989898;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #989898;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #989898;
}
:-moz-placeholder { /* Firefox 18- */
  color: #989898;
}

/* Helpers
----------------------------------------------------------------------------- */

.tip {
  color: #989898;
  font-size: 14px;
  line-height: 24px;
}

/* Image replacement
----------------------------------------------------------------------------- */

.ir {
  background-repeat: no-repeat;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Buttons
----------------------------------------------------------------------------- */

.btn-primary {
  background: #00A5ED;
  border-radius: 3px;
  border: 0;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-right: 6px;
  padding: 0 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-primary:focus {
  outline: none;
}

.btn-primary:active {
  /* Active backgrounds are 10 points less bright in hsb. */
  background: #0094D4;
}

.btn-secondary {
  background: #F4F4F4;
  border-radius: 3px;
  border: 0;
  color: #595959;
  height: 40px;
  line-height: 40px;
  margin-right: 6px;
  padding: 0 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-secondary:focus {
  outline: none;
}

.btn-secondary:active {
  /* Active backgrounds are 10 points less bright in hsb. */
  background: #989898;
  color: #fff;
}

.btn-secondary--activated {
  background: #0052B3;
}

.btn-secondary--full-width {
  width: 100%;
  margin-right: 0;
}

.btn-panel {
  background: transparent;
  border: 0;
  color: #00a5ed;
  font-size: 16px;
  height: 56px;
  line-height: 56px;
  padding: 0 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-panel[disabled] {
  color: #989898;
}

.btn-panel:focus {
  outline: none;
}

.txt-textarea {
  background: transparent;
  border: 0;
  box-shadow: 0 1px 0 #d8d8d8;
  box-sizing: border-box;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.txt-textarea:focus {
  box-shadow: 0 2px 0 #00A5ED;
  outline: none;
}

/* Inputs
----------------------------------------------------------------------------- */

.input {
  background: transparent;
  border: 0;
  box-shadow: 0 1px 0 #d8d8d8;
  box-sizing: border-box;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; 
}

.input:focus {
  box-shadow: 0 2px 0 #00A5ED;
  outline: none;
}

/* Labeled form things
----------------------------------------------------------------------------- */

.labeled--label {
  color: #00A5ED;
  display: block;
  font-size: 13px;
  line-height: 24px;
  min-height: 24px;
  padding-bottom: 4px;
  padding-top: 4px;
}

/* Validated inputs
----------------------------------------------------------------------------- */

.validator {
  margin-bottom: 12px;
}

.validator-message {
  color: #00A5ED;
  display: block;
  font-size: 13px;
  line-height: 24px;
  min-height: 24px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.validator-validating .validator-input {
  background-image: url(loading.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
}

.validator-error .validator-input {
  /*background-color: #FFDDD9;*/
  box-shadow: 0 2px 0 #F05C48;
}

.validator-error .validator-message {
  color: #F05C48;
}

.validator-ok .validator-input {
  box-shadow: 0 2px 0 #2DC500;
}

.validator-ok .validator-message {
  color: #2DC500;
}

/* Selects
----------------------------------------------------------------------------- */

.select {
  background-color: transparent;
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  background-position: right -1000px;
  background-size: 100px auto;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 0 #d8d8d8;
  box-sizing: border-box;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.select:focus {
  box-shadow: 0 2px 0 #00A5ED;
  border: 0;
  outline: none;
}

.select::-moz-focus-inner {
  border: 0;
}

/* App
----------------------------------------------------------------------------- */

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app-main--ready {
  animation: 500ms ease-out 0ms 1 both fade;
}

/* App nav
----------------------------------------------------------------------------- */

.nav-main {
  background: #2DC500;
  color: #fff;
  height: 72px;
  position: relative;
}

.nav-name {
  background: #5ADA00;
  font-size: 18px;
  left: 0;
  line-height: 32px;
  position: absolute;
  width: calc(256px - (24px * 2));
  height: 32px;
  padding: calc((72px - 32px) / 2) 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-dashboard-icon {
  background: url(./sprite.png) 0 -300px no-repeat;
  background-size: 100px auto;
  cursor: pointer;
  display: block;
  height: 72px;
  width: 72px;
  left: 288px;
  position: absolute;
}

.nav-dashboard-icon-active {
  background-position: 0 -400px;
}


.nav-chart-icon {
  background: url(./sprite.png) 0 -500px no-repeat;
  background-size: 100px auto;
  cursor: pointer;
  height: 72px;
  width: 72px;
  left: 288px;
  position: absolute;
}

.nav-chart-icon-active {
  background-position: 0 -600px;
}


/* Modal
----------------------------------------------------------------------------- */

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9;
}

.modal[hidden] {
  display: block;
  pointer-events: none;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.modal[hidden] .modal-overlay {
  opacity: 0;
  pointer-events: none;
}

.modal-main {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
  left: 50%;
  position: absolute;
  top: 50%;
  height: 80vh;
  width: 768px;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(1);
  transition:
    opacity 200ms ease-out,
    transform 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  display: block;
  opacity: 1;
  pointer-events: all;
}

/* Smaller modal */
.modal-main--menu {
  height: auto;
  height: 320px;
  width: 400px;
}

.modal[hidden] > .modal-main {
  display: block;
  opacity: 0;
  transform: translate(-50%, -35%) scale(0.95);
  pointer-events: none;
}

/* Menu list
----------------------------------------------------------------------------- */
.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list li {
  border-top: 1px solid #f4f4f4;  
}

.menu-list li:first-child {
  border-top: 0;
}

.menu-list a {
  color: #00a5ed;
  display: block;
  line-height: 48px;
  text-decoration: none;
  transition: background-color 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  padding: 0 24px;
}

.menu-list a:hover {
  background-color: #f4f4f4;
}

/* Banner
----------------------------------------------------------------------------- */

.banner {
  background: #ffc500;
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding: 0 24px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  /* We deliberately avoid setting top, so it sits in the regular flow position */
}

/* Hide banner */
.banner--close {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-out;
}

.banner--text {
  padding-right: 250px;
}

.banner-action {
  cursor: pointer;
  position: absolute;
  text-decoration: underline;
  top: 0;
  right: 24px;
}

.banner-action--close {
  display: none;
}

/* Panel
----------------------------------------------------------------------------- */

.panels--main {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 200ms ease-out;
}

.panels--lv1 {
  transform: translateX(-100%);
}

.panel--main {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.panel--main-close {
  z-index: 1;
}

.panel--lv1 {
  transform: translateX(100%);
}

.panel--lv2 {
  transform: translateX(200%);
}

.panel--header {
  border-bottom: 1px solid #f4f4f4;
  color: #595959;
  height: 56px;
  position: relative;
}

.panel--title {
  font-size: 16px;
  line-height: 56px;
  text-align: center;
  margin: 0;
}

.panel--nav-left {
  position: absolute;
  left: 0;
  top: 0;
}

.panel--nav-right {
  position: absolute;
  right: 0;
  top: 0;
}

.panel--content {
  height: calc(100% - 56px);
  overflow: auto;
}

/* Inset for panel content */
.panel--in {
  margin: 84px;
}

/* Recipe form
----------------------------------------------------------------------------- */

.rform-main {
  height: calc(100% - (16px * 2));
  margin: 16px;
}

.rform-form {
  height: 100%;
  /* Contain margins */
  overflow: hidden;
}

.rform-textarea {
  height: 100%;
}

.rform-footer {
  background: #F4F4F4;
  height: 36px;
  padding: 12px;
}

/* Environment
----------------------------------------------------------------------------- */

.environment-main {
  background-color: #f4f4f4;
  /* Full height minus the app header */
  height: calc(100vh - 72px);
  position: relative;
}

.environment-main--has-sidebar {
  padding-left: 256px;
}

.environment-content {
  height: 100%;
  width: 100%;
}

.environment-content--loading {
  background: url(loading.svg) no-repeat center center;
  background-size: 80px 80px;
}

/* Summary sidebar
----------------------------------------------------------------------------- */

.sidebar-summary {
  background-color: #fff;
  height: 100%;
  width: 256px;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar-summary--in {
  margin: 24px;
}

.sidebar-summary--unit {
  margin-bottom: 36px;
}

/* Current recipe widget in sidebar
----------------------------------------------------------------------------- */

.current-recipe {
  margin-bottom: 36px;
}

.current-recipe--label {
  color: #989898;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.current-recipe--name {
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  background-position: right -900px;
  background-size: 100px auto;
  color: #00A5ED;
  cursor: pointer;
  display: block;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Recipes library
----------------------------------------------------------------------------- */

.recipes-create-icon {
  background: url(sprite.png) no-repeat 0 -700px;
  background-size: 100px auto;
  cursor: pointer;
  display: block;
  height: 56px;
  width: 56px;
}

.recipes-back-icon {
  background: url(sprite.png) no-repeat 0 -200px;
  background-size: 100px auto;
  cursor: pointer;
  display: block;
  height: 56px;
  width: 56px;
}

.recipes-main {
  /* Contain floats */
  padding: 16px 0 16px 16px;
  overflow: hidden;
}

/* Recipe
----------------------------------------------------------------------------- */

.recipe {
  background: #FFFFFF;
  border-radius: 2px;
  float: left;
  margin: 16px;
  width: 336px;
  height: 224px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 1px 2px 0px rgba(0,0,0,0.24);
}

/* FTU - First Time Use
----------------------------------------------------------------------------- */

.ftu-window {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
  left: 50%;
  position: fixed;
  top: 50%;
  height: 80vh;
  width: 768px;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(1);
  transition:
    opacity 400ms ease-out,
    transform 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  display: block;
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}

.ftu-window--close {
  display: block;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
  pointer-events: none;
}

.ftu-validator .validator-input {
  font-size: 24px;
  height: 40px;
}

.ftu-select {
  background-position: right -1100px;
  font-size: 24px;
  height: 40px;
}

/* Environment icons
----------------------------------------------------------------------------- */

.env-temperature--large {
  background-image: url(env.png);
  background-position: 0 0;
  background-size: 108px auto;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  line-height: 108px;
  height: 108px;
  width: 108px;
}

.env-temperature--unit {
  margin-right: -0.3em;
}