/*
@note A few rules that will keep this stylesheet from getting out of hand:

- All styles should happen through classes
- ...except a very small number of "reset" common styles that deal with
  global fonts, etc.
- All classes should start with a short 3-5 letter prefix that denotes the
  module they belong to (.rform-*). A module is a logical unit, like a lightbox.

Don't:

- Leak styles
- Style tags directly (except to reset styles)
*/

html {
  color: #333;
  font: 16px/1.5 Helvetica, sans-serif;
}

/* Reset standard dialog styles */
dialog {
  border: 0;
  margin: 0;
  padding: 0;
}


/* Buttons
----------------------------------------------------------------------------- */

.btn-primary {
  background: #00A5ED;
  border-radius: 18px;
  border: 0;
  color: #fff;
  height: 36px;
  line-height: 36px;
  margin-right: 6px;
  padding: 0 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-primary:focus {
  outline: 0;
}

.btn-primary:active {
  /* Active backgrounds are 10 points less bright in hsb. */
  background: #0094D4;
}

.btn-secondary {
  background: #D8D8D8;
  border-radius: 18px;
  border: 0;
  color: #777;
  height: 36px;
  line-height: 36px;
  padding: 0 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-secondary:focus {
  outline: 0;
}

.btn-secondary:active {
  /* Active backgrounds are 10 points less bright in hsb. */
  background: #BFBFBF;
}

/* App header
----------------------------------------------------------------------------- */

.app-header {
  background: #2DC500;
  border-bottom: 6px solid #5AD900;
  color: #fff;
  height: calc(84px - 6px);
  position: relative;
}

.gnav-new-recipe {
  background: url(./sprite.png) 0 0px no-repeat;
  background-size: 100px auto;
  cursor: pointer;
  display: block;
  height: 84px;
  width: 84px;
  position: absolute;
  right: 0;
}

.gnav-new-recipe:active {
  background-position: 0 -100px;
}

.gnav-tab {
  background-color: #259E00;
  font-size: 18px;
  float: left;
  height: 60px;
  line-height: 60px;
  margin-top: 18px;
  padding: 0 24px;
  min-width: calc(256px - (24px * 2));
}

.gnav-tab-selected {
  background-color: #5ADA00;
}

/* Overlay
----------------------------------------------------------------------------- */

.ovr-overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.ovr-overlay[hidden] {
  display: block;
  opacity: 0;
  pointer-events: none;
}

/* Recipe form
----------------------------------------------------------------------------- */

.rform-main {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(0,0,0,0.25);
  left: 10vw;
  position: absolute;
  top: 10vh;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
  transition:
    opacity 200ms ease-out,
    transform 200ms ease-out;
  display: block;
  opacity: 1;
  pointer-events: all;
}

.rform-main-close {
  display: block;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

.rform-form {
  height: 100%;
  /* Contain margins */
  overflow: hidden;
}

.rform-textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-family: Monaco, monospace;
  height: calc(100% - 20px - 60px);
  width: calc(100% - 20px);
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.rform-footer {
  background: #F4F4F4;
  height: 36px;
  padding: 12px;
}

/* Dashboard
----------------------------------------------------------------------------- */

.dash-main {
  background-color: #F4F4F4;
}

/* Sensors
----------------------------------------------------------------------------- */

.sense-main {
  margin: 0;
  padding: 24px;
}

.sense-main:nth-child(even) {
  background-color: #EDEDED;
}

.sense-title {
  color: #989898;
  font-size: 14px;
  text-transform: uppercase;
}

.sense-number {
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
}

.sense-deg {
  color: #989898;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  vertical-align: top;
}


/* Recipe
----------------------------------------------------------------------------- */

.recipe {
  margin: 0;
  padding: 24px;
}

.recipe:nth-child(even) {
  background-color: #EDEDED;
}

